mat-toolbar(color='primary')
  span.title Awesome component
  ul
    li
      a(routerLink='social-media', routerLinkActive='active-link') Social-media
    li
      a(routerLink='complex-form', routerLinkActive='active-link') Sign-in
