.container
  mat-card.main-form([formGroup]='mainForm')
    mat-card-title Inscription
    // FIRSTNAME LASTNAME
    mat-card.form-card(formGroupName='personnalInfo')
      mat-card-subtitle Informations personnelles
      .form-row
        mat-form-field(appearance='fill')
          mat-label Prénom
          input(type="text", matInput, formControlName='firstname')
          mat-error Ce champs est requis
        mat-form-field(appearance='fill')
          mat-label Nom
          input(type="text", matInput, formControlName='lastname')
          mat-error Ce champs est requis
    // PREFERENCES
    mat-card.form-card
      mat-card-subtitle Préférences de contact
      mat-radio-group([formControl]='contactPref')
        mat-radio-button(value='email') Mail
        mat-radio-button(value='telephone') Téléphone
    // EMAIL
    mat-card.form-card(formGroupName='email', *ngIf='showEmail$ | async')
      mat-card-subtitle Votre email
      .form-row
        mat-form-field(appearance='fill')
          mat-label Email
          input(type="email", matInput, formControlName='email')
          mat-error {{getFormCtrlError(email.get("email"))}}
        mat-form-field(appearance='fill')
          mat-label Confirmez votre email
          input(type="email", matInput, formControlName='confirmEmail')
          mat-error {{getFormCtrlError(email.get("confirmEmail"))}}
      mat-error {{getFormCtrlError(email)}}
    // PHONE
    mat-card.form-card(*ngIf='showPhone$ | async')
      mat-card-subtitle Votre téléphone
      mat-form-field(appearance='fill')
        mat-label Téléphone
        input(type="text", matInput, formControlName='phone')
        mat-error {{getFormCtrlError(phone)}}
    // USERNAME / PWD
    mat-card.form-card(formGroupName='login')
      mat-card-subtitle Informations de connexion
      mat-form-field(appearance='fill')
        mat-label Nom d'utilisateur
        input(type="text", matInput, formControlName='username')
        mat-error {{getFormCtrlError(login.get('username'))}}
      .form-row
        mat-form-field(appearance='fill')
          mat-label Mot de passe
          input(type="password", matInput, formControlName='password')
          mat-error {{getFormCtrlError(login.get('password'))}}
        mat-form-field(appearance='fill')
          mat-label Confirmez le mot de passe
          input(type="password", matInput, formControlName='confirmPassword')
          mat-error {{getFormCtrlError(login.get('confirmPassword'))}}
      mat-error {{getFormCtrlError(login)}}

    .btn-save(*ngIf='mainForm.valid')
      button(mat-raised-button, (click)='onSubmitForm()', [disabled]='loading') Enregistrer
    mat-spinner(*ngIf='loading', color='primary', mode='indeterminate')
