/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url('./assets/images/blurred-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: white;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 5px;
  transition: border .1s ease-out;

  &:hover {
    border: 1px solid white;
    cursor: pointer;
  }

  &:active {
    border: 1px solid violet;
    color: violet;
  }
}

.active-link {
  border: 1px solid white;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

ul {
  list-style: none;
  padding: 0 15px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 7% 10%;
}
